{% extends "base.html" %}
{% block content %}
    <p>Welcome {{ user.username }} to your profile page.</p>
    <table>
        <tr><td><strong>Username: </strong></td><td>{{ user.username }}</td></tr>
        <tr><td><strong>Email: </strong></td><td>{{ user.email }}</td></tr>
        <tr><td><strong>Validator: </strong></td><td>{{ user.is_staff }}</td></tr>
        <tr><td><strong>Last Login: </strong></td><td>{{ user.last_login }}</td></tr>
    </table>
    <hr/>
    {% if user.is_staff %}
    <a href="{% url 'register' %}">Register New User</a>
    <hr/>
    <a href="{% url 'view_submitted_manual_clockings' %}">View Staff Manual Clockings</a>
    {% endif %}
    <hr/>
    <a href="{% url 'view_personal_details' %}"> Personal Details </a>
    <hr/>
    <a href="{% url 'clocking_page' %}"> Go to Clock </a>
    <hr/>
    <a href="{% url 'manual_clocking' %}"> Submit Manual Clock </a>
    <hr/>
    <a href="{% url 'remote_clocking_page' %}">Clock Remotely</a>
    <hr/>
    <a href="{% url 'logout' %}">Log Out</a>
{% endblock %}